* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
html{
    font-size: 16px;
}
@font-face {
    font-family: "semiBold";
    src: url(Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "medium";
    src: url(Poppins/Poppins-Medium.ttf);
}
h1{
    font-family: "semiBold"
}
.header {
    display:flex;
    justify-content: space-between;
}
.top {
    display: flex;
    width: 50%;
}
.top ul {
    width: 70%;
    display:flex;
    list-style: none;
    justify-content: space-between;
}
button {
    color:orange;
    background-color: beige;
    border-radius: 40px;
}
.leftLogos{
    display:flex;
    width:20px;
    height:20px;
}
.sOne {
    display:flex;
    background-image: url(images/BG.png);
    align-items: center;
}
.left{
    width: 80%;

}
.right {
    width: 40%;
}
a{
    text-decoration: none;
}