* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
  
}
html{
    font-size: 16px;
}
@font-face {
    font-family: "semiBold";
    src: url(Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "medium";
    src: url(Poppins/Poppins-Medium.ttf);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}