
h1{
    font-family: "semiBold"
}

.leftLogos{
    display:flex;
    width:20px;
    height:20px;
}
.leftLogos img{
    padding-right: 30px;
}
.sOne {
    display:flex;
    background-color: #DCEAF5;
    align-items: center;
    height: 703px;
}
.left{
    width: 80%;
}
.right {
    width: 40%;
}
.seeOurServices {
    color: white;
    background-color: orange;
    border-radius: 20px;
    padding: 10px;
}
.seeAll {
    background-color: transparent;
}
.top ul {
    padding-right: 20px;
    justify-content: space-between;
}
